main {
  position: relative;
}
.container {
  background-color: grey;
  height: 30000px;
}
button {
  position: fixed;
  bottom: 40px;
  left: 40px;
  border-radius: 25px;
  padding: 12px;
  background-color: rgb(255, 205, 66);
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: opacity 0.7s;
  &:hover {
    opacity: 0.7;
  }
  display: none;
}
