{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="container">
        <button class="button" id="back">
            <img src="/svg/arrow-back.svg" alt="img" class="img">
        </button>
        <button class="button" id="forward">
            <img src="/svg/arrow-forward.svg" alt="img" class="img">
        </button>
        <button class="button" id="reload">
            <img src="/svg/reload.svg" alt="img" class="img">
        </button>
        <button class="button" id="home">
            <img src="/svg/home.svg" alt="img" class="img">
        </button>
        <input type="text" class="form" id="input">
        <button class="button" id="go">
            <img src="/svg/enter.svg" alt="img" class="img">
        </button>
    </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}